body {
	font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

.content {
	width: calc(100% - 296px);
	margin-left: auto;
}

.p-32 {
	padding: 32px !important;
}

.mb-32 {
	margin-bottom: 32px !important;
}

.px-32 {
	padding-left: 32px !important;
	padding-right: 32px !important;
}

.pb-40 {
	padding-bottom: 40px !important;
}

.fs-14 {
	font-size: 14px !important;
}

.fs-18 {
	font-size: 18px !important;
}

code {
	font-family: "Roboto Mono", monospace;
	color: $success;
}

.material-symbols-outlined {
	vertical-align: bottom;
	font-variation-settings:
		'FILL' 1,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24
}

.icon-unfill {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24
}