<aside class="navbar navbar-expand-lg navbar-light bg-light fw-bold p-0 vh-100">
  <div class="container-fluid flex-column align-items-start p-0 h-100">
    <div>
    <h1><a class="navbar-brand p-0 m-0" href="#"><img class="img-fluid" src="../assets/images/logo-ANSWER.svg"
          alt="logo"></a>
    </h1>

    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <a class="nav-link ps-0" href="#"><span class="material-symbols-outlined align-bottom pe-4 border-start border-4 border-light">
            <!-- align-bottom inline元素對齊方式 -->
            analytics
          </span>Dashboard</a>
      <li class="nav-item">
        <a class="nav-link ps-0" href="#"><span class="material-symbols-outlined align-bottom pe-4 border-start border-4 border-light">
            question_answer
          </span>Question</a>
      <li class="nav-item">
        <a class="nav-link active link-success ps-0" aria-current="page" href="#"><span
            class="material-symbols-outlined align-bottom pe-4 border-start border-4 border-success">
            assignment
          </span>Assignment</a>
      <li class="nav-item">
        <a class="nav-link ps-0" href="#"><span class="material-symbols-outlined align-bottom pe-4 border-start border-4 border-light">
            video_library
          </span>Course</a>
      <li class="nav-item">
        <a class="nav-link ps-0" href="#"><span class="material-symbols-outlined align-bottom pe-4 border-start border-4 border-light">
            supervisor_account
          </span>Admin</a>
      <li class="nav-item">
        <a class="nav-link ps-0" href="#"><span class="material-symbols-outlined align-bottom pe-4 border-start border-4 border-light">
            settings
          </span>Settings</a>
    </ul>
  </div>

    <div class="d-flex user">
      <div class="flex-shrink-0 me-3">
        <img src="../assets/images/andychen.jpeg" alt="Andychen" width="40px" height="40px"
          class="rounded-circle object-fit-cover">
      </div>
      <div class="flex-grow-1">
        <p>Andy Chen</p>
        <a href="mailto:andy0401@mail.com">andy0401@mail.com</a>
      </div>
    </div>
  </div>
</aside>