<aside class="navbar navbar-expand-lg bg-light navbar-light bg-light fw-bold p-0 vh-100 position-fixed top-0">
  <div class="container-fluid flex-column align-items-start p-0 h-100">
    <div class="w-100">
      <a class="navbar-brand" href="#">
        <h1>answer</h1>
      </a>
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a class="nav-link mb-4 ps-0 pb-0 border-start border-4 " href="#"><span
              class="material-symbols-outlined align-bottom pe-4">
              <!-- align-bottom inline元素對齊方式 -->
              analytics
            </span>Dashboard</a>
        <li class="nav-item">
          <a class="nav-link mb-4 ps-0 pb-0 border-start border-4 " href="#"><span
              class="material-symbols-outlined pe-4">
              question_answer
            </span>Question</a>
        <li class="nav-item">
          <a class="nav-link mb-4 ps-0 pb-0 border-start border-4 <%= page === 'assignment' ? 'link-success border-page' : '' %>"
            aria-current="page" href="index.html"><span class="material-symbols-outlined pe-4">
              assignment
            </span>Assignment</a>
        <li class="nav-item">
          <a class="nav-link mb-4 ps-0 pb-0 border-start border-4 " href="#"><span
              class="material-symbols-outlined pe-4">
              video_library
            </span>Course</a>
        <li class="nav-item">
          <a class="nav-link mb-4 ps-0 pb-0 border-start border-4 <%= page === 'admin' ? 'link-success border-page' : '' %>"
            href="admin.html"><span class="material-symbols-outlined pe-4">
              supervisor_account
            </span>Admin</a>
        <li class="nav-item">
          <a class="nav-link mb-4 ps-0 pb-0 border-start border-4 " href="#"><span
              class="material-symbols-outlined pe-4">
              settings
            </span>Settings</a>
      </ul>
    </div>

    <div class="d-flex user">
      <div class="flex-shrink-0 me-3">
        <img src="../assets/images/andychen.jpeg" alt="Andychen" width="40px" height="40px"
          class="rounded-circle object-fit-cover">
      </div>
      <div class="flex-grow-1">
        <p>Andy Chen</p>
        <a class="text-secondary fw-normal" href="mailto:andy0401@mail.com">andy0401@mail.com</a>
      </div>
    </div>
  </div>
</aside>