.navbar {
  background: #F8F9FA;
  max-width: 296px;

  h1 {
    padding: 32px;
  }
  .material-symbols-outlined{
    padding-left: 28px;
  }
  .nav-link{
    padding-top: 0px;
    padding-bottom: 26px;
  }
}

.user{
  padding-left: 32px;
  padding-bottom: 32px;
  a{
    color: #6C757D;
    font-size: 14px;
  }
}