aside {
  &.navbar {
    width: 296px;

    .navbar-brand {
      padding: 32px;
    }

    .material-symbols-outlined {
      padding-left: 28px;
    }

    .nav-link {
      padding-top: 0px;
      padding-bottom: 26px;
    }
  }
}

.user {
  padding-left: 32px;
  padding-bottom: 32px;

  a {
    font-size: 14px;
  }
}

.header {
  h1 {
    padding: 32px;
    padding-left: 0px;
    padding-right: 34px;
  }
}

.main {
  margin-bottom: 32px;
}

.time,.chapter,.fz-12 {
  font-size: 12px;
}

.user {
  &.card-body {
    padding: 17px 32px 22px 16px;

    hr {
      margin-left: 48px;  
    }

    .btn {
      background-color: #F8F9FA;
      border: 2px solid #CED4DA;
      border-radius: 2px;
    }
  }
}

.card-header {
  .more_vert {
    margin-right: 17px;
  }
}

.dropdown-menu li:hover{
  background-color: #F8F9FA;
}

.dropdown-toggle.success::after{
  color: #198754;
}