.level.dropdown-toggle::after {
  color: black;
}

.collapsed .arrow_down {
  display: block;
}

.arrow_down {
  display: none;
}

.collapsed .arrow_up {
  display: none;
}


.arrow_up {
  display: block;
}

.pagination .text-dark:hover{
  color: white !important;
  background-color: $success !important;
}

.pagination .link-success:hover{
  color: white !important;
  background-color: $success !important;
}